[Desktop Entry]
Name=StopClock
GenericName=Timer
Comment=A lightweight and buggy clock app
Categories=GTK;Utility;
Exec=stopclock
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=stopclock
X-GNOME-Keywords=Timer;Stopwatch;World;Clock;Alarm
